version: 2.1
setup: true

parameters:
  action:
    type: string
    default: "tests"
  ecr-repository:
    type: string
    default: ""
  tfvars:
    type: string
    default: ""
  k8s-cluster:
    type: string
    default: ""
  workspace:
    type: string
    default: ""
  rails-env:
    type: string
    default: "staging"
  packages-to-install:
    type: string
    default: ""
  assets-bucket:
    type: string
    default: ""
  use-docker-cache:
    type: boolean
    default: true

orbs:
  continuation: circleci/continuation@0.1.2

jobs:
  generate-config:
    executor: continuation/default
    steps:
      - checkout
      - run:
          name: "Fetch circleCI config file"
          command: |
            git clone git@github.com:CapSens/circleCi-dynamic-config.git dynamic_configs
      - continuation/continue:
          parameters: |
            {
              "project-name": "myapp",
              "ruby-version": "2.6.6",
              "bundler-version": "2.2.2"
            }
          configuration_path: dynamic_configs/configs/rails_terraform_mysql.yml

workflows:
  setup-workflow:
    jobs:
      - generate-config
